
*{
    font-size: 16px;
    font-family: cursive;
}


main{
    /* background: radial-gradient(red, yellow 30%, green); */
}

.upper{
    height: 33vh;
    /* background: radial-gradient( red, blue, black, white); */
    border-left-style: dotted;
    border-bottom: double;
    background-color: pink;
}

.middle{
    height: 33vh;
    background-color: purple;
}

.lower{
    height: 63vh;
    background-color: teal;
    /* background-image: url(./big.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    font-size: 32px;
    color: navy;
    text-align: center;
    border-style: solid;
    border-width: 12px 9px;
    border-color: #923456;
}

.rem li{
    font-size: 1.3rem;
}
.em li{
    font-size: 1.3em;
}
form{
    opacity: 0.9;
    width: 50%;
    text-align: center;
}
img{
    min-width: 500px;
    max-height: 1100px;
}
p{
    /* width:50%; */
    /* height: 10vh; */
    border: 15px solid red;
}
p::before{
    content: "Please read this.";
}
p::after{
    content:"Dont forget this.";
}

.first{
    margin-bottom: 50px;
}

.second{
    margin-top: 30px;
}