*{
    font-size: 16px;
}
.section1{
    height: 35vh;
    background-color: lavender;
}
main{
    height: 150vh;
    background-color: pink;
}
.section2{
    height: 40vh;
    background-color: hsla(244, 99%, 49%, 0.7);
    /* background-image: url(./cat.png), url(./shoes.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%; */
    /* background: url(./cat.png) no-repeat center/50%, url(./shoes.jpg) no-repeat white; */
}
.section3{
    height: 30vh;
    /* width: 30vw; */
    background-color: rgba(15,45,90, 0.9);
}